* {
  margin: 0;
  color:white;
  background-color: black;
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
  background-color: rgb(45, 45, 45);
}

.list {
  margin-top: 20px;
  padding: 0.5em;
  border: 1px solid black;
  height: 600px;
  background-color: rgb(45, 45, 45);
}