* {
  margin: 0;
  color: white;
  background-color: rgb(48, 48, 48);
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 1em;
  background-color: rgb(45, 45, 45);
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
